* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    position: relative;
    display: inline-block;
}

.ui-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.health-bar-bg {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 3px solid white;
    background-color: red;
    height: 30px;
}

.health-bar {
    position: absolute;
    background-color: #818cf8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: width 0.2s ease-in-out;
}

#playerHealth {
    transform-origin: left;
}

#enemyHealth {
    transform-origin: right;
}

.timer {
    background-color: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    border: 3px solid white;
}

.display-text {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    flex-direction: column;
}

#restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    display: none;
}

.controls-container {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.player-controls p {
    margin: 5px 0;
}

.p1-title {
    margin: 0;
    color: #818cf8;
}

.p2-title {
    margin: 0;
    color: #ef4444;
}

.right-align {
    text-align: right;
}